body, h1,h2,p,button{
margin: 0;
padding: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: black;   
}

main{
    display: flex;
    justify-content: center;
    padding: 20px;
}

header{
    background-color: black; 
    color: white;   
    text-align: center;
   padding: 10px 0;
}
#profile{
    background-color: white;
    border-radius: 8px;
     box-shadow: 0 0 10px white ;
     text-align: center;
     padding: 20px;
     width: 300px;
     margin: 8px;
}
#profile-pic{
    width: 250px;
    height: 250px;
    border: 1;
    border-radius: 5px;
}
button{
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: red;
    width: 30;
    height: 100;
}

button:hover{
    background-color: green;

}


footer{
    text-align: center;

}
 
#comentario{
    
    
    background-color: white;
    border-radius: 5px;
     box-shadow: 0 0 10px white ;
     text-align: center;
     padding: 20px;
     width: 300px;
     height: 400px;
     margin: 8px;
     


     
}
#add-coment{
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: red;
    width: 30;
    height: 100;

}


